.Sending4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.div_check {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  background-color: #1e251e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 14px;
}
.div_check > svg {
  width: 64px;
  height: 64px;
}

.h3 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 18px;
}
.p_1 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}

.p2 {
  color: #a2a1a7;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.p_https {
  width: 193px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  width: 327px;
  height: 56px;
  flex-shrink: 0;
  background-color: rgba(72, 177, 74, 1);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}
